.grid{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
}

.item{
    background-image:url("images/circle.jpg");
    background-position: center;
    background-size: cover;
    width: 100px;

}